/* Importing Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Base Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #004FFF;
}

li {
    list-style: none;
}

/* General Styling */
.container {
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
}

.box {
    background: #fff;
    height: 250px;
    border-radius: 5px;
    padding: 15px 20px 20px;
}

.add__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.add__icon-box {
    border: 2px dashed #004FFF;
    height: 78px;
    width: 78px;
    border-radius: 50%;
    font-size: 40px;
    color: #004FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .4s ease;
}

.add__box:hover .add__icon-box{
    cursor: pointer;
    border: 2px dashed transparent;
    background: #004FFF;
    color: #fff;
}

.add__description {
    color: #004FFF;
    font-weight: 500;
    margin-top: 2rem;
}

.note {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.note__title {
    font-size: 1.5rem;
    font-weight: 500;
}

.note__description {
    display: block;
    margin-top: 5px;
    color: #575757;
    font-size: 1rem;
}

.note__options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #0051ff58;
    padding-top: 10px;
}

.note__date {
    color: #6d6d6d;
    font-size: .8rem;
}

.note__settings-icon {
    color: #004FFF;
    font-size: 1rem;
    cursor: pointer;
}

.note__settings {
    position: relative;
}

.note__settings-menu {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    position: absolute;
    bottom: 0;
    right: 1rem;
    border-radius: 5px;
    background: #fff;
    padding: 5px 0;transform: scale(0);
    transform-origin: bottom right;
    transition: transform .4s ease;
}

.note__settings:hover .note__settings-menu {
    transform: scale(1);
}

.menu__item {
    height: 25px;
    /* width: 100%; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    font-size: 1rem;
    padding: 17px 15px;
}

.menu__item:hover {
    background: #f5f5f5;
}

.menu__icon {
    padding-right: .5rem;
    padding-left: .5rem;
}

.icon__edit {
    color: #004FFF;
}

.icon__trash {
    color: #f00a21;
}


/* Popup Form  */
.popup__box {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
}

.popup {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    max-width: 400px;
    width: 100%;
}

.popup__content {
    border-radius: .5rem;
    background: #fff;
}

.popup__header {
    border-bottom: 1px solid #ccc;
    padding: 15px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;    
}

.heading {
    
}